<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <meta charset="UTF-8">
    <title>Servisna Knizka</title>
</head>
<body>
<div th:insert="fragments :: navigation"></div>
<div th:insert="service/breadcrumbs :: breadcrumbs"></div>

<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">

            <h1> Zadajte autoservis </h1>

            <form method="post" th:action="@{/service}" th:object="${service}">

                <div class="form-group">
                    <label for="mn">meno:</label>
                    <input class ="form-control" id="mn" name="meno" th:field="*{meno}">
                </div>
                <input class="btn btn-outline-primary" type="submit" value="odoslat">
            </form>
        </div>
    </div>
</div>
</body>
</html>