<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>r</title>
</head>
<body>
<div class="container">
    <div class="alert alert-success">
        Boli ste uspesne zaregistrovany, mozete pokracovat prihlasenim na <a th:href="'/login'">Login</a>
    </div>
</div>
</body>
</html>