<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="breadcrumbs(serviceId)">
    <div class="container">
        <div class="pt-1 pb-1">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a th:href="'/service/list'">Servisy</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        <a th:href="'/client/list?serviceId=' + ${serviceId}">
                            Klienti
                        </a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Auta</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
</body>
</html>